.home img {
    width: 100%;
    height: 92vh;
    object-position: center;
    object-fit: cover;
    border-radius: 0%;
    position: fixed;
}

.homecontent {
    position: absolute;
    top: 96%;
    right: 0%;
   
    transform: translate(-50%, -50%);
}

.homecontent h1 {
  
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.homecontent a {
    margin-top: 10px;
    border-radius: 20px;
}

@media screen and (max-width:700px) {
    .home img {
        height: 400px;
    }

    .homecontent h1 {
        font-size: 30px;
    }
}

.hi {
    height: 10vh;
}