<div class="topbar"><app-topbar></app-topbar></div>

<div class="sidebar">
    <aside>

        <div class="sidebar">
            <a href="/Userlist">
                <span class="material-symbols-outlined"> person </span>
                <h3>Patients</h3>
            </a>
            <a href="/adminAddBasic">
                <span class="material-symbols-outlined">receipt_long</span>
                <h3>Records</h3>
            </a>
            <a href="/detailtable">
                <span class="material-symbols-outlined">analytics </span>
                <h3>Users Basic Details</h3>
            </a>

            <a href="#">
                <span class="material-symbols-outlined"> report </span>
                <h3>Reminder</h3>
            </a>

            <a href="/Addpatients">
                <span class="material-symbols-outlined">add</span>
                <h3>Add Patients</h3>
            </a>
            <a (click)="logout()" href="#">
                <span class="material-symbols-outlined">logout</span>
                <h3>Logout</h3>
            </a>
        </div>

    </aside>
</div>