<app-userdashboard></app-userdashboard>
<div class="content">
    <div class="head">
        <h3
            style="font-size: 25px; font-weight: bold;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color: rgb(89, 109, 226);">
            Change Password:</h3>
    </div>
    <form class="change mt-5" [formGroup]="ChangeForm">
        <div class="password mx-4">
            <label class="lable" style="font-size: 18px;" for="old">Now You can Change the Password </label>
            <input class="" style="font-weight: bold;" type="text" placeholder="username" formControlName="username"
                name="username" [(ngModel)]="Details.username" required>
        </div>
        <div class="form-group pt-2 mt-4">
            <label class="lable" for="old">Old Password:</label>
            <div class="input-field">

                <input formControlName="oldpassword" [type]="type" placeholder="old password">
                <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
            </div>

        </div>
        <div class="form-group pt-2">
            <label class="lable" for="old">New Password:</label>
            <div class="input-field">

                <input formControlName="newpassword" [type]="type" placeholder="new password">
                <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
            </div>

        </div>
        <div class="form-group pt-2">
            <label class="lable" for="old">Confirm Password:</label>
            <div class="input-field">

                <input formControlName="confirmpassword" [type]="type" placeholder="confirm password">
                <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
            </div>

        </div>
        <div>
            <button class="btn btn-primary " (click)="onChange()">submit</button>
        </div>
    </form>

</div>