<app-userdashboard></app-userdashboard>
<div class="outer">
  <div class="health" style="position: absolute;margin-left:140vh;margin-top: 210px; font-family: 'Times New Roman', Times, serif; font-weight: bold;color: rgb(38, 50, 219);font-size: 25px;
">We Are Your Health Providers.....Please Add Your All Health Records. We Will Make you Happy Life...!</div>

  <div class="content" style="position: relative; margin-top: 50px;">
    <img src="../../../assets/images/web-image-2.png" alt="">

  </div>
</div>