<div><app-topbar></app-topbar></div>
<div class="outer">
    <div class="card">
        <div class="container">
            <form [formGroup]="ForgotForm">
                <div class="input-field">
                    <label id="lable" for="email">Enter your email:</label><br>
                    <input formControlName="email" type="text" class="emailtext" id="email" required><br>
                    <small *ngIf="ForgotForm.controls['email'].dirty && ForgotForm.hasError('required','email')"
                        class="text-danger">*email is required</small>
                </div>

                <div>

                    <button [disabled]="ForgotForm.invalid" class="btn2 btn-danger" (click)="onSendOtp()"
                        data-bs-toggle="modal" data-bs-target="#exampleModal">submit</button>

                </div>
            </form>

        </div>

    </div>

    <!-- forgot password Email Confirmation -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title " id="exampleModalLabel">Change your Password</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="ConfirmForm" class="f">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Enter OTP </label>
                            <input formControlName="otp" type="text" class="form-control" id="exampleInputEmail1">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label"> New Password</label>
                            <input formControlName="newPassword" id="pass" [type]="type" placeholder="password">
                            <span (click)="ShowPass()" class="fa {{eyeIcon}}"></span>
                        </div>
                        <button type="button" (click)="onForgot()" class="btn1 btn-primary">Submit</button>
                        <button type="button" class="btn1 btn-danger" data-bs-dismiss="modal">cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>